/* nav links */
#menu-bar a {
    transition: all .5s ease;
}
#menu-bar a:hover {
    text-shadow: 0 3px 3px rgba(105, 67,  35, .5);
    transform: translateY(-2px);
}

/* login button */
#login button::after {
    content: "Log in";
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}
#login button:hover{
       width: 90px;
}

/* headline */
#headline h2, #headline h3 {
    animation: opacity 5s ease;
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* headline button */
#headline button {
    animation-delay: 1s;
    animation: drop 2s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-60vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0vh);
    }
}

/* common buttons */
.btn {
    overflow: hidden;
}
.btn::before {
    content: "";
    position: absolute;
    background-color: var(--btn-hover);
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-radius: 50px;
    transition: width .4s ease-in-out;
}
.btn:hover::before {
    width: 100%;
}

/* service wrappers */
.service-wrapper > .image-wrapper {
    overflow: hidden;
}
.service-wrapper > .image-wrapper::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: height .4s ease;
}

.image-wrapper:hover::before{
    height: 100%;
}

/* social-wrapper icons */
#social-wrapper img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}