* {
    border: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

#main-header-wrapper {
    background-image: url(../images/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    /*    opacity: 1;*/
    /*    filter: brightness(100%);*/
    color: white;
    /* display: flex; */
    min-height: 600px;
}

#main-header-wrapper header {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 16px 3%;
    /* overflow: hidden; */
}

#logo-wrapper {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    flex: 0 1 auto;
    min-width: 170px;
    /* float: left; */
    /* width: 14%; */
    /* height: 200px; */
}

#logo-wrapper .logo {
    width: 100px;
}

/* #logo-wrapper h1 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
} */

#menu-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-flow:row wrap;
    flex:0 1 450px;
    align-items: center;
    justify-content: space-between;
    /* align-content: space-between; */
    /* height: 100px; */
    /* float: right; */
    /* margin-top: 30px; */
    /* text-align: right; */
    /* flex: 0 1 auto; */
}

#menu-bar li {
    text-align: center;
    border: 1px solid;
    /* display: inline-block; */
    opacity: 0.8;
    flex: 0 1 auto;
    padding: 5px 10px;
    /* margin: 5px; */
}

#menu-bar li a {
    color: white;
}

#menu-bar li:hover {
/*        filter:brightness(100%);*/
    background-color: rgba(93, 122, 139, .5);
    opacity: 1;
}

#headline {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
    text-align: center;
}

#headline h2 {
    font-size: 4em;
    font-weight: 900;
    overflow: hidden;
    /* word-break: break-all; */
    text-overflow: ellipsis;
}
#headline h3 {
    font-size: 25px;
    font-weight: 300
}

/*----> main <----*/
/*#main-container {
    background-color: #ADC5D9;
    padding: 0px 24px;
}*/
main {
    background-color: #ADC5D9;
    /*    padding: 3% 0;*/
    /*    width: 90%;*/
}

.container {
    color: white;
    padding: 72px 0px;
    text-align: center;
}

.container h3 {
    font-size: 35px;
}

.container h4 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 12px;
}

button {
    background-color: #5D7A8C;
    border-radius: 18px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 48px;
    padding: 10px 25px;
    font-size: 15px;
}
button:hover {
    background-color: #4d6675;
}

.about-section img {
    width: 170px;
}

.about-section h3 {
    margin-top: 15px;
}

.about-section h4 {
    max-width: 450px;
    margin: 0px auto;

}


/*----> services <----*/
.services-section {
    background-color: #f6f6f6;
    color: #48590B;
}

.services-section #services-container {
    margin: auto;
    /*    padding: 24px 0;*/
    width: 90%;
}

.services-section .service-wrapper {
    /*    box-shadow: 1px 0 6px 2px gray;*/
    display: inline-block;
    margin: 12px 24px;
    padding: 32px 24px;
    max-width: 260px;
}
.service-wrapper:hover {
    box-shadow: 0px 2px 6px #d1d3d1;
}

.service-wrapper .image-wrapper {
    background-color: #5D7A8C;
    border-radius: 50%;
    margin: auto;
    padding: 16px;
    /*    overflow: hidden;*/
    width: 100px;
}

.service-wrapper img {
    display: block;
    margin: auto;
    width: 100px;
}

.service-wrapper h4 {
    font-weight: 600;
}

.service-wrapper p {
    font-weight: 100;
    font-size: 18px;
    margin-top: 18px;
}

/*----> clients <----*/
.clients-section {
    background-color: white;
    color: #5D7A8C;
}
.clients-section .clients-container {
    margin: auto;
    width: 90%;
}
.clients-container img {
    height: 100px;
    margin: 24px;
}

/*----> footer <----*/
#main-footer {
    align-items: center;
    background-color: #5D7A8C;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 150px;
    padding: 36px 36px;
}
#main-footer .logo {
    width: 100px;
}
#main-footer #contact {
    display: inline-block;
    margin-left: 36px;
}
#main-footer #social-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100px;
}
#social-wrapper img {
    width: 30px;
}

