:root {
    --primary-light: #f6f6f6; /*ddd*/
    --primary-dark: #48590B;
    --background-light: rgb(78, 160, 228);
    --background-dark: #592F0B;
    --dark40: rgba(0, 0, 0, .5);
    --background-btn: #0CBF06;
    --vborder-space: 72px;
    --hborder-space: 5%;
}

* {
    border: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body, button {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-dark);
}

button {
    background-color: var(--background-btn);
    border-radius: 50px;
    color: var(--primary-light);
    font-size: 14px;
    font-weight: 500;
    padding: 7px 10px;
    min-width: 130px;
}

/* ----> main header <---- */
#main-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: auto;
    padding: 10px var(--hborder-space);
    min-height: 12.5vh;
}

#main-header #logo-wrapper{
    flex: 1;
    display: flex;
}
#logo-wrapper img {
    width: 70px;
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 2;
}
#menu-bar a {
    color: var(--primary-dark);
    font-size: 16px;
    font-weight: 300;
    padding: 5px 10px;
}

#login {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}
#login img {
    width: 30px;
}
#login span {
    font-size: 12px;
    font-weight: 300;
}

/*----> slider <----*/
#slider {
    background-image: url(../images/business.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 2px 5px #494949;
    height: 87.5vh;
}
#slider #headline {
    background-color: var(--dark40);
    color: var(--primary-light);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: var(--vborder-space) 0;
}



#headline h2 {
    font-size: 2.2em;
    font-weight: 500;
    /* overflow: hidden; */
    /* word-break: break-all; */
    text-overflow: ellipsis;
}
#headline h3 {
    font-size: 25px;
    font-weight: 300;

}
#headline button {
    margin-top: 72px;
}

/* ----> main content <---- */
.container {
    background-color: var(--background-light);
    padding: var(--vborder-space) 0;
    text-align: center;
    min-height: 100vh;
}
.container h3 {
    font-size: 24px;
    font-weight: 500;

}
.container h4 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 32px;

}

.about-section {
    color: var(--primary-light);
}
.about-section img {
    width: 200px;
}
.about-section h3 {
    font-weight: 700;
    margin-top: 14px;
}
.about-section h4 {
    font-weight: 300;
    max-width: 500px;
    margin: 0px auto;
}
.about-section button {
    margin-top: var(--vborder-space);
}

/*----> services <----*/
.services-section {
    background-color: var(--primary-light);
}

.services-section #services-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 var(--hborder-space);
}

.services-section .service-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 24px;
    padding: 1em 2em;
    max-width: 300px;
}
.service-wrapper:hover {
    box-shadow: 0px 2px 6px #d1d3d1;
}

.service-wrapper .image-wrapper {
    background-color: var(--background-btn);
    border-radius: 50%;
    padding: 16px
}

.service-wrapper img {
    display: block;
    margin: auto;
    width: 100px;
}

.service-wrapper h4 {
    font-weight: 400;
}


/*----> clients <----*/
.clients-section {
    background-color: white;
    color: #5D7A8C;
}
.clients-section .clients-container {
    margin: auto;
    width: 90%;
}
.clients-container img {
    height: 100px;
    margin: 24px;
}

/*----> footer <----*/
#main-footer {
    align-items: center;
    background-color: #5D7A8C;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 150px;
    padding: 36px 36px;
}
#main-footer .logo {
    width: 100px;
}
#main-footer #contact {
    display: inline-block;
    margin-left: 36px;
}
#main-footer #social-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 100px;
}
#social-wrapper img {
    width: 30px;
}

