:root {
    --primary-light: #f6f6f6; /*ddd*/
    --primary-dark: #694323;
    --background-light:#3488a9;
    --background-dark: #256179;
    --dark40: rgba(0, 0, 0, .5);
    --background-btn: rgb(33, 162, 29);
    --btn-hover: rgba(0, 0, 0, .1);
    --vborder-space: 72px;
    --hborder-space: 5%;
}

* {
    border: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body, button{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-light);
}

button {
    position: relative;
    background-color: var(--background-btn);
    border-radius: 50px;
    color: var(--primary-light);
    font-size: 14px;
    font-weight: 500;
    padding: 7px 10px;
    min-width: 130px;
    cursor: pointer;
}


/* hidden */
h1, #toggler, #menu-bar a:last-child{
    display: none;
}
/* hidden */


/* ----> main header <---- */
#main-header {    
    background-color: #dbf3fc;
    box-shadow: 0px 2px 5px #494949;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: auto;
    padding: 10px var(--hborder-space);
    min-height: 12.5vh;
    top: 0px;

}

#main-header #logo-wrapper{
    flex: 1;
    cursor: pointer;
    display: flex;
}
#logo-wrapper img {
    width: 70px;
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 2;
}
#menu-bar a {
    color: var(--primary-dark);
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    transition-duration: .3s;
}


#login {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: flex-end;
}

#login button {
    background-color: var(--background-light);
    border-radius: 25px;
    color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 5px;
    min-width: 35px;
    height: 35px;
    font-size: 16px;
    width: 35px;
    overflow: hidden;
    transition: width .5s ease;
}


/*----> slider <----*/
#slider {
    background-image: url(../images/tala.jpg);
    background-size: cover;
    background-position: center;
    height: 87.5vh;
}
#slider #headline {
    background-color: var(--dark40);
    color: var(--primary-light);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: var(--vborder-space) 0;
}

#headline h2 {
    font-size: 2.2em;
    font-weight: 500;
    /* overflow: hidden; */
    /* word-break: break-all; */
    /* text-overflow: ellipsis; */
}
#headline h3 {
    font-size: 25px;
    font-weight: 300;

}
#headline button {
    margin-top: 10vh;
}

/* ----> main content <---- */
.container {
    padding: var(--vborder-space) 0;
    text-align: center;
    min-height: 100vh;
}
.container h3 {
    font-size: 24px;
    font-weight: 700;

}
.container h4 {
    font-size: 24px;
    font-weight: 100;
    margin-top: 32px;

}

.about-section {
    background: radial-gradient(var(--background-light), var(--background-dark));
    color: var(--primary-light);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 72px var(--hborder-space);
}
.about-section img {
    width: 200px;
}
.about-section h3 {
    font-weight: 700;
    margin-top: 14px;
}
.about-section h4 {
    font-weight: 300;
    max-width: 500px;
    margin: 0px auto;
}
.about-section button {
    margin-top: var(--vborder-space);
}

/*----> services <----*/
.services-section {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

.services-section #services-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 var(--hborder-space);
}

.services-section .service-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    padding: 1em 2em;
    max-width: 300px;
}

.service-wrapper .image-wrapper {
    background-color: #c4c4c4;
    border-radius: 50%;
    padding: 16px;
    position: relative;
}

.service-wrapper img {
    display: block;
    margin: auto;
    width: 80px;
}

.service-wrapper h4 {
    font-weight: 400;
}


/*----> clients <----*/
.clients-section {
    background-color: white;
    color: var(--primary-dark);
    min-height: min-content;
}
.clients-section .clients-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 var(--hborder-space);
}
.clients-container img {
    height: 100px;
    margin-top: 16px;
}

/*----> footer <----*/
#main-footer {
    align-items: center;
    background-color: var(--background-dark);
    color: rgba(255, 255, 255, .8);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 150px;
    padding: var(--vborder-space) var(--hborder-space);
}
/* footer brand */
#main-footer::before {
    content: "ECO CHANKA";
    display: block;
    flex: 1;
    font-size: 1.4em;
    font-weight: 700;
}
#main-footer .logo {
    display: none
}

#main-footer #contact {
    flex: 2;
    text-align: center;
}
#main-footer #social-wrapper {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    min-height: 100px;
}
#social-wrapper img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: 10px;
    width: 25px;
}




/* --------> media queries <-------- */

@media screen and (max-width: 500px) {
    
    /* show them */
    h1, #toggler, #menu-bar a:last-child {
        display: initial;
    }
    /* show them */

    /* hidden */
    #logo-wrapper img, #login button {
        display: none;
    }
    /* hidden */


    #main-header {
        position: fixed;
        top: -1px;
        width: 100%;
        z-index: 1;
    }

    #main-header #logo-wrapper h1 {
        color: var(--primary-dark);
        font-size: 14px;
        /* border: 1px solid red; */
    }

    /* hamburger */
    #toggler, #hamburger {
        position: fixed;
        margin: auto 0;
        right: 5%;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    #toggler {
        opacity: 0;
        z-index: 3;
    }
    #hamburger {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        transition: all .5s ease-out;
        z-index: 2;
    }
    #hamburger::before, #hamburger::after, #hamburger .line {
        content: "";
        display: block;
        background: var(--background-light);
        width: 100%;
        height: 2px;
        transition: all .5s ease-out;
    }
    
    #toggler:checked + #hamburger {
        transform: rotate(135deg);
    }
    #toggler:checked + #hamburger::before, #toggler:checked + #hamburger::after {
        transform: rotate(90deg);
    }
    /* ----> end hamburger <---- */

    /* ----> nav links <---- */
     #menu-bar {
         background-color: #dbf3fc;
         position: fixed;
         top: 0;
         bottom: 70vh;
         left: 0;
         width: 100%;
         flex-flow: column wrap;
         transform: translateY(-100vh);
         transition: all .5s ease-out;
    }
    
    /* When hamburger is checked: */
    #toggler:checked ~ #menu-bar {
        flex-flow: column wrap;
        opacity: 1;
        transform: translateY(0);
    }

    /* Slider fit the empty space*/
    #slider {
        margin-top: 12.5vh;
        height: 87.5vh;
    }

    /* headline */
    #headline h2 {
        font-size: 1.5em;
    }
    #headline h3 {
        font-size: 1.2em;
    }

    /* main */
    .container {
        min-height: 87.5vh;
    }
    .container h3 {
        font-size: 1.1em;
        font-weight: 700;
    
    }
    .container h4 {
        font-size: 1em;
        font-weight: 500;
        margin-top: 32px;
    
    }

    /* about section */
    .about-section h4 {
        font-weight: 300;
    }
    .about-section img {
        width: 100px;
    }

    /* ----> services section <---- */    
    .service-wrapper img {
        width: 50px;
    }
    
    /*----> clients <----*/
    .clients-section {
        min-height: min-content;
    }

    /* footer */
    #main-footer {
        flex-flow: column wrap;
        min-height: 150px;
        padding: 36px 36px;
    }
    #main-footer::before {
        content: "";
    }
    #main-footer .logo {
        display: initial;
        width: 50px;
        margin-bottom: 20px;
    }

    #main-footer #contact {
        font-size: .8em;
        width: 90%;
    }
    #main-footer #social-wrapper {
        justify-content: space-evenly;
        width: 90%;
    }
    #social-wrapper img {
        margin: 0;
    }
}


/* --------> extra queries <-------- */

@media screen and (max-width: 200px) {
    
    /* headline */
    #headline h2 {
        font-size: 1em;
    }
    #headline h3 {
        font-size: .7em;
    }

    #main-footer #contact {
        font-size: .5em;
    }
}